.loadModule {
  display: flex;
  height: 40px;
  align-items: center;
}
.lm__name {
  flex: 0.4;
}
.lm__module {
  flex: 0.6;
  display: flex;
  justify-content: center;
}
.lm__vertical-module {
  display: flex;
  width: 90px;
  margin-right: 5px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
