@import "../../theme.styles.scss";
.miniMenu {
  top: 25px;

  ul li {
    text-transform: none;
    list-style: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f0f2f5;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      background: #e7e7e9;
    }
    svg {
      opacity: 0.5;
      margin-right: 5px;
      width: 20px !important;
    }
  }
}
.mm__reName {
  position: relative;
  display: flex;
  justify-content: center;
  .retroInput {
    display: flex;

    width: 190px;
  }
}
.mm__reName-btn {
  margin-top: -5px;
  display: flex;
  justify-content: flex-end;
}
.mm__delete-btns {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  button {
    flex: 1;
  }
}
.mm__colors {
  .colors {
    justify-content: space-between;
  }
  .colors__color {
    margin-right: 0;
    margin-top: 0;
    width: 30px;
    height: 30px;
    border-radius: 0;
    box-shadow: none;
  }
}

.mm__btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  button {
    width: fit-content;
    height: 30px;
  }
}
