@import "../../theme.styles.scss";
.dockHeader {
  margin-bottom: 20px;
  padding-left: 60px;
  left: 0;
  position: relative;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid $bodyGray;
  &:hover {
    .dh__settings-icon {
      opacity: 1;
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 1;
    opacity: 0.8;
  }
}
.dh__header {
  display: flex;
  align-items: center;
}

.dh__description,
.dh__name {
  input {
    background: transparent;
    border: 1px dotted rgba(0, 0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: -10px;
    outline: none;
    width: 100%;
    &::placeholder {
      color: #333;
    }

    &:hover {
      border: 1px dotted gray;
    }
    &:focus {
      border: 1px dotted gray;
      &::placeholder {
        color: gray;
      }
    }
  }
}
.dh__name {
  input {
    font-size: 1.5em;
    font-weight: 800;
  }
}

.dh__settings {
  position: absolute;
  left: 20px;
  top: 20px;
  .bll__content {
    margin-top: 10px;
    .retroBox {
      min-height: auto;
    }
  }
}
.dh__btns {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  button {
    width: fit-content;
    height: 30px;
  }
}
.dh__settings-icon {
  cursor: pointer;
  transition: 0.2s ease;
  opacity: 0;
  &:hover {
    transform: scale(1.1);
  }
  svg {
    opacity: 0.5;
    width: 20px !important;
    height: 20px !important;
    transition: 0.2s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}
