.stationMenu {
  background: white;
  width: 100%;
  padding-left: 70px;
  padding-top: 20px;
  padding-right: 70px;
  padding-bottom: 5px;
  height: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    .fs__false {
      opacity: 0.2;
      color: gray;
    }
  }
}

.sm__buttomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 5px;
  width: 100%;
}
.sm__favorite {
  position: absolute;
  top: 27.5px;
  left: 20px;
  color: white;
}
