@import "../../../theme.styles.scss";
.stationMenu {
  background: white;
  width: 100%;
  padding-left: 70px;
  padding-top: 20px;
  padding-right: 70px;
  padding-bottom: 5px;
  height: 160px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    .fs__false {
    }
    .sm__settings {
      svg {
        opacity: 0.1;
        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
}

.sm__buttomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 5px;
  width: 100%;
}
.sm__favorite {
  position: absolute;
  top: 27.5px;
  left: 20px;
  color: $body;
}
.sm__settings {
  position: absolute;
  top: 70px;
  left: 23px;
  svg {
    cursor: pointer;
    opacity: 0;
    width: 20px;
    height: 20px;
    transition: 0.2s ease;
  }
}
