@import "../../theme.styles.scss";
.stations {
  margin-top: 7px;
}
.stations__input {
  position: relative;
}
.stations__ok {
  position: absolute;
  right: 3px;
  top: 4px;
  button {
    width: 30px;
    height: 25px;
  }
}
.stations__createStation {
  button {
    width: 100%;
    margin-bottom: 10px;
    background: $secondary;
  }
}
.stations__stationItem {
  margin-top: 10px;
}
