.noSpaceData {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  svg {
    opacity: 0.1;
    margin-bottom: 15px;
  }

  p {
    opacity: 0.4;
  }
}
.nsd__createBtn {
  position: absolute;
  bottom: -13px;
  right: -20px;
  button {
    height: 40px;
  }
}
.nsd__span {
  cursor: pointer;
  &:hover {
    color: black;
  }
}
