@import "../../theme.styles.scss";
.dockStation {
  width: 100%;
  .retroBox {
    padding: 20px;

    min-height: 117px;
  }
}
.ds__content {
  display: flex;
  padding: 30px 60px;
}

.ds__recentStations {
  .retroBox {
  }
}

.ds__item {
  min-width: 200px;
  max-width: 400px;
  flex: 1;
  margin-right: 20px;
  h2 {
    margin-bottom: 10px;
  }
  &:last-child {
    margin-right: 0;
  }
}
