.largeTask {
  .bl__content {
    width: 100% !important;
  }
  min-width: 500px;
  width: 100%;
  .loadModule {
    border-bottom: 1px solid #f0f2f5;

    padding: 10px 0;
    &:last-child {
      border-bottom: none;
    }
  }
  .retroBox {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px !important;
  }
}

.lt__content {
  margin-bottom: 10px;
  form {
    position: relative;
    width: 100%;
  }
  input {
    border: none;
    font-size: 25px;
    border: 1px dotted rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 8px;
    width: 100%;
    &:hover {
      border: 1px dotted gray;
    }
    &:focus {
      border: 1px dotted gray;
    }
    &:active {
      border: 1px dotted gray;
    }
  }
  ::placeholder {
    color: #333;
    font-weight: 500;
  }
}
.lt__columns {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.lt__comments {
  border-radius: 10px;
  width: 100%;
  padding: 20px;

  input {
    margin-bottom: 0;
    width: 100%;
    &::placeholder {
      color: rgb(119, 119, 119) !important;
    }
  }
}
.lt__messeges {
  max-height: 292px;
}
.lt__modules {
  max-height: 500px;
  border-radius: 10px;
}

.lt__input {
  padding-top: 15px;
  display: flex;
  align-items: center;
  .avatar {
    margin-right: 8px;
    height: fit-content;
  }
}
.lt__inputMsg {
  width: 100%;
}
