.createdBy {
  display: flex;
  align-items: center;
  position: relative;
  .avatar {
    width: 25px;
    height: 25px;
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0) 0px 2px 16px 0px;
    transition: 0.2s ease;
    &:hover {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
  }
  &:hover {
    .cb__nameHover {
      opacity: 1;
    }
  }
}
.cb__nameHover {
  position: absolute;
  width: 100px;
  text-align: center;
  background: white;
  border-radius: 8px;
  top: -15px;
  left: -100%;
  margin-left: 5px;
  opacity: 0;
  z-index: 100;
  transition: 0.2s ease opacity;
  color: #666;
}
