@import "../../theme.styles.scss";
.board {
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
  height: 83.5vh;
  padding: 10px 15px;
}
::-webkit-scrollbar-track {
  background: $body;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.board__newStatus {
}
.board__dragDelete {
  position: absolute;
  transition: 0.3s ease;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(226, 68, 92);
  opacity: 0.5;
  svg {
    color: white;
    width: 25px !important;
    height: 25px !important;
  }
  &:hover {
    height: 150px;
    opacity: 1 !important;
  }
}
.board__dragDelete-droppable {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .board__dragDelete {
  position: relative;
  transition: 0.3s ease;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  min-width: 45px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(226, 68, 92);
  left: 320px;
  border-radius: 10px;
  opacity: 1;
  svg {
    color: white;
    position: absolute;
    bottom: 9px;
    left: 9px;
    width: 25px !important;
    height: 25px !important;
  }
} */
.board__placeholder {
  padding: 10px;
}

// vertical

.board__vertical {
  flex-direction: column;
}
