.stationItem {
  button {
    justify-content: flex-start;
    box-shadow: none;
    width: 100%;
    margin-bottom: 10px;
    svg {
      margin-right: 10px;
      font-weight: 200;
      opacity: 0.8;
    }
  }
}
