.stationItem {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
  button {
    justify-content: flex-start;
    box-shadow: none;
    width: 100%;
    background: #37484f;
    svg {
      margin-right: 10px;
      font-weight: 200;
      opacity: 1;
    }
  }
}
