.boxLayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 250;
  color: #333;
}
.bl__content {
  z-index: 200;

  .retroBox {
    padding: 30px !important;
  }
}
.bl__layer {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2.5px);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

/* .bl__btns {
  display: flex;
  justify-content: flex-end;
  button {
    height: 30px;
    width: fit-content;
    margin-top: 30px;
  }
}
 */
