.boxLayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.bl__content {
  z-index: 100;
}
.bl__layer {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2.5px);
  width: 100%;
  height: 100%;
  position: absolute;
}
