@import "../../theme.styles.scss";
.spaceFly {
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  button {
    margin-bottom: 10px;
    text-transform: uppercase;
    &:last-child {
      margin-bottom: 0;
    }
  }
  p {
    color: white;
    opacity: 0.3;
    margin-bottom: 3px;
  }
  svg {
    width: 20px !important;
    height: 20px !important;
  }
}
.sf__icon {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}
.sf__flys {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  button {
    padding-left: 0;
    padding-right: 0;
    width: 36px;
    height: 36px;
  }
}
.sf__flysName {
  position: absolute;
  top: -9px;
  p {
    color: white;
    font-size: 10px;
    font-weight: 800;
  }
}
.sf__line {
  display: none;
  width: 100%;
  height: 2px;
  border-radius: 100%;
  background: #48575d;
  margin-bottom: 10px;
}

.sf__controls {
  button {
    width: 30px;
    background: transparent;
  }
}

.sf__controls-home {
  position: relative;
}

.sf__controls-homeArrow {
  position: absolute;
  right: -21px;
  top: 3px;
  svg {
    color: $body;
    width: 30px !important;
    height: 30px !important;
  }
}
