@import "../../theme.styles.scss";
.space {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 60px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  background: $secondary;
  z-index: 100;
}
