@import "../../theme.styles.scss";
.space {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background: $secondary;
}
