.recentStations {
  .rs__item {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    button {
      background: white;
      svg {
        margin-right: 5px;
      }
    }
  }
}

.recentStations__noStations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  height: 85px;
}
.recentStations__noBtn {
  display: flex;
  justify-content: flex-end;
}
.recentStations__create {
  button {
    svg {
      margin-right: 5px;
      color: rgba(0, 0, 0, 0.2);
    }
  }
}
