.home {
  width: 100%;
  height: 100vh;
}

.home__createSpace {
  background: white;
  height: 40px;
}
.home__content {
  padding: 40px 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  .sectionBox {
    margin-bottom: 30px;
  }
}
.home__recentStations {
  button {
    background: #eff2f5;
    color: #333;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 500px) {
  .welcomeHome {
    padding: 20px;
  }
  .home__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .home {
    overflow: auto;
  }
}
