.home {
  width: 100%;
  height: 100vh;
}

.home__createSpace {
  background: white;
  height: 40px;
}
.home__content {
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  .sectionBox {
    margin-bottom: 30px;
    flex: 0.49;
  }
}
.home__recent {
  display: flex;
}
.home__recentStations {
  flex: 1;
}
.home__recentStations {
  button {
    background: #eff2f5;
    color: #333;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
