@import "../../../theme.styles.scss";
.timeFilter {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.timeFilter-item {
  padding: 10px;
  border-right: 1px solid $bodyGray;
  cursor: pointer;
  transform: 0.2s ease all;
  background: $body;
  &:last-child {
    border-right: none;
  }
  p {
    opacity: 0.5;
  }
  &:hover {
    p {
      opacity: 1;
    }
  }
}
.timeFilter__active {
  background: $info;
  p {
    color: white;
    opacity: 1;
  }
}
