@import "../../theme.styles.scss";
.filter {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.filter__priority {
  display: flex;
  align-items: center;
  .filter__priority-text {
    svg {
      color: rgb(52, 181, 228);
    }
  }
}
.filter__priority-fire {
  display: flex;
  margin-left: 5px;
  background: $body;
  padding: 11px 10px;
  border-radius: 8px;
}
.filter__time {
  margin-left: 10px;
}
