.assignedTasks {
  .children {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.at__task {
  background: #eff2f5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  p {
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.at__modules {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  div {
    margin-left: 5px;
    display: flex;
    justify-content: center;
  }
}
.at__priority {
  pointer-events: none;
}
.at__status {
  pointer-events: none;
}
.at__noTasks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  svg {
    opacity: 0.1;
    margin-bottom: 15px;
  }
  p {
    opacity: 0.4;
  }
}
.at__by {
  .avatar {
    width: 25px !important;
    height: 25px !important;
  }
}
.at__item {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0px;
  }
}
