.assignedTasks {
}
.at__task {
  border: 1px solid #eff2f5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  p {
    color: gray;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.at__modules {
  margin-top: 10px;
  display: flex;

  justify-content: flex-end;
  div {
    margin-right: 5px;
    display: flex;
    justify-content: center;
  }
}
.at__priority {
  pointer-events: none;
}
.at__status {
  pointer-events: none;
}
