@import "../../theme.styles.scss";
.station {
  height: 100vh;
  min-width: 220px;
  padding: 20px 10px;
  background: #2e4048;
  color: white;
  position: relative;
}

.station__miniMenu {
  .boxLayer {
    align-items: flex-start;
    position: absolute;
    width: 100%;
    padding-top: 90px;
  }
  .bl__layer {
    margin-top: -90px;
  }
  .retroBox {
    padding: 5px;
    width: 220px;
  }
}

.station__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.station__name {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  h3 {
    margin-left: 10px;
    margin-top: -5px;
  }
  button {
    width: 40px;
    height: 40px;
  }
}
.station__menu {
  position: relative;
  button.flat {
    width: 35px;
    padding: 0px 9px;
    height: 20px;
    border-radius: 8px;
    background: $secondary2;
    color: white;
  }
  svg {
    margin: 0;
  }

  .bl__content {
    margin-top: 70px;
  }
}
.station__hide {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 5px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 100;
  svg {
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 500px) {
  .station {
    display: none;
  }
}
