@import "../../theme.styles.scss";
.station {
  height: 100vh;
  min-width: 250px;
  padding: 20px;
  background: $secondary2;
  color: white;
  box-shadow: 0 0 36px -10px black;
  position: relative;
  p.station__pre {
    color: white;
    opacity: 0.3;
    margin-bottom: 3px;
  }
}

.station__miniMenu {
  .boxLayer {
    align-items: flex-start;
    position: absolute;
    width: 100%;
    padding-top: 90px;
  }
  .bl__layer {
    margin-top: -90px;
  }
  .retroBox {
    padding: 5px;
    width: 220px;
  }
}

.station__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.station__name {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  h3 {
    margin-left: 10px;
    margin-top: -5px;
  }
  button {
    width: 40px;
    height: 40px;
  }
}
.station__menu {
  position: relative;
  button.flat {
    width: 35px;
    padding: 0px 9px;
    height: 20px;
    border-radius: 8px;
    background: $secondary2;
    color: white;
  }
  svg {
    margin: 0;
  }

  .bl__content {
    margin-top: 70px;
  }
}
