.task {
  position: relative;
  border: 1px solid lightgray;
  padding: 8px;
  margin-bottom: 8px;
  background: white;
  align-items: center;
  border-radius: 8px;
  &:hover {
    .task__drag {
      opacity: 1;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.task__drag {
  position: absolute;
  top: 5px;
  left: -12px;
  opacity: 0;
  svg {
    color: lightgray;
  }
}
.task__taskName {
  margin-bottom: 10px;
  font-weight: 800;
}

.task__expand {
  position: absolute;
  top: 5px;
  right: 8px;
  opacity: 0.2;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover {
    opacity: 0.4;
    transform: scale(1.15);
  }
  &:active {
    transform: slace(0.95);
  }
}
