.task {
  position: relative;
  border: 1px solid lightgray;
  padding: 8px;
  margin-bottom: 8px;
  background: white;
  align-items: center;
  border-radius: 8px;
  &:hover {
    .task__drag {
      opacity: 1;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.task__drag {
  position: absolute;
  top: 5px;
  left: -12px;
  opacity: 0;
  svg {
    color: lightgray;
  }
}
.task__taskName {
  margin-bottom: 10px;
}
