@import "../../../theme.styles.scss";
.retroBox {
  box-shadow: $boxShadow-large;
  padding: 30px;
  border-radius: 10px;
  background: white;
}
@media (max-width: 500px) {
  .retroBox {
    width: 100%;
  }
}
