@import "../../../theme.styles.scss";
.firePriority {
  background: $body;
  border-right: 1px solid $bodyGray;
  height: 40px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
  &:first-child {
    border-radius: 10px 0 0 10px;
  }
  &:last-child {
    margin-right: 0;
    border-right: 0;
    border-radius: 0 10px 10px 0;
  }
}
.firePriority__active {
  background: rgba(0, 0, 0, 0.08);

  /*   svg {
    color: white !important;
  } */
}
.firePriority-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    cursor: pointer;
    transition: 0.2s ease;
  }
}
.filter__urgent {
  color: rgb(226, 68, 92);
}
.filter__high {
  color: rgb(253, 171, 61);
}
.filter__normal {
  color: rgb(52, 181, 228);
}
.filter__low {
  color: rgb(5, 206, 145);
}
