.members {
  position: relative;
}
.members__show {
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.2s ease;
  &:last-child {
    margin-bottom: 0;
  }
}

.members__button {
  display: flex;
  justify-content: flex-end;
}
