@import "../../theme.styles.scss";
.welcomePage {
  position: absolute;
  width: 100%;
  height: 101% !important;
  background: linear-gradient(
    200deg,
    rgba(115, 166, 230, 0.5) 30%,
    rgba(238, 238, 238, 0) 100%
  );
  ul#scene {
    height: 70%;
    width: 100%;
    left: -50px;
    position: absolute !important;
    bottom: -10px;
    li {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
  img {
  }
  .layer1 {
    img {
      position: absolute;
      left: 0%;
    }
  }
  .layer2 {
    img {
      position: absolute;
      left: 0%;
    }
  }
  .layer3 {
    img {
      position: absolute;
      left: 0%;
    }
  }
  .layer4 {
    img {
      position: absolute;
      left: 0%;
    }
  }
  .layer-rocket {
    img {
      position: absolute;
    }
  }
  .layer-startUp-li {
  }
  .layer-startUp-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .layer-startUp {
    z-index: 200;
    width: 450px;
    pointer-events: all;
    background: $body;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    button {
    }
    h1 {
      font-size: 70px;
      margin-bottom: 0px;
      color: #27538c;
      font-family: "Ubuntu Mono", monospace;
    }
    h3 {
      color: #5d8dcf;
      color: #27538c;
      font-size: 15px;
    }
  }
  .retroBox {
    padding: 0 !important;
  }
}
.welcomePage__message {
  margin-bottom: 50px;
}

.wp__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: fit-content;
    height: 40px;
  }
  span {
    margin: 0 30px;
  }
}
.wp__btns-register {
  button {
    background: #73a6e6;
    color: white;
  }
}
.wp__btns-try {
  button {
    color: #27538c;
  }
}

.welcomePage__window {
  width: 40%;
  position: absolute;
  height: 100%;
  z-index: 200;
  top: 0;
  right: 0;
  background: white;
}
