.priority {
  display: flex;

  cursor: pointer;
  position: relative;
}
.priority__current {
  display: flex;
  align-items: center;
  svg {
    margin-right: 5px;
  }
}
.priority__show {
  background: blue;
  position: absolute;
  left: 0;
  .bll__content {
    top: 20px;
    left: -15px;
  }
}
.priority__priority {
  display: flex;
  align-items: center;
  transition: 0.2s ease;
  margin-bottom: 2px;
  padding: 3px 5px;
  border-radius: 8px;
  &:last-child {
    margin-bottom: 0;
  }
  svg {
    margin-right: 5px;
  }

  &:hover {
    background: rgb(235, 235, 235);
  }
}
