.assign {
  position: relative;
  .avatar {
    width: 35px;
    height: 35px;
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0) 0px 2px 16px 0px;
    transition: 0.2s ease;
    &:hover {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
  }
  &:hover {
    .assign__nameHover {
      opacity: 1;
    }
  }
}
.assign__choose {
  .bll__content {
    left: -50%;
    margin-left: -25px;
    margin-top: 5px;
  }
}
.assign__member {
  width: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background-color: #f0f2f5;
  }
  .avatar {
    margin-right: 10px;
    min-width: 35px;
    height: 35px;
  }
}
.assign__nameHover {
  position: absolute;
  width: 100px;
  margin-left: -30px;
  text-align: center;
  background: white;
  border-radius: 8px;
  top: -15px;
  opacity: 0;
  z-index: 100;
  transition: 0.2s ease opacity;
}
