* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f9f9f9;
  background: #f0f2f5;
}
hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #f0f2f5;
}
p {
  font-size: 0.8rem;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  transform: none;
  padding: 0;
  margin: 0;
  text-transform: none;
  text-decoration: none;
  color: #333;
}
input {
  font-family: "Noto Sans JP", sans-serif;
}
ul li {
  list-style: none;
  text-transform: none;
  text-decoration: none;
}
