@import "./theme.styles.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: "Noto Sans JP", sans-serif;
  background: $body;
}
hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid $body;
}
p {
  font-size: 0.8rem;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  transform: none;
  padding: 0;
  margin: 0;
  text-transform: none;
  text-decoration: none;
  color: #333;
}
input {
  font-family: "Noto Sans JP", sans-serif;
}
ul li {
  list-style: none;
  text-transform: none;
  text-decoration: none;
}

textarea {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.8rem;
  color: #333;
}

@media (max-width: 500px) {
  body {
    margin-bottom: 50px;
  }
}
