/* $primary: #26a69a;
$secondary: #37484f;
$secondary2: #415761; */

$primary: #34b5e4;
/* $primary: #8f00ff; */
$secondary: #37484f;
$secondary2: #415761;
$success: #05ce91;
$warning: #fbcb00;
$danger: rgb(226, 68, 92);
$info: #34b5e4;

$body: #f6f8f9;
$bodyGray: #e8eaeb;

$boxShadow-small: 0 5px 20px 0 rgb(21 7 38 / 8%);
$boxShadow-large: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

/* $primary: #264653;
$secondary: #37484f;
$secondary2: #415761;
$success: #009b3d;
$warning: #ff8801;
$danger: rgb(226, 68, 92);
$info: #34b5e4; */
