@import "../../theme.styles.scss";
.spaceData {
  display: flex;
  flex-direction: column;
}
.sd__data,
.sd__something {
  flex: 1;
}

.sd__data {
  h4 {
    margin-top: -10px;
    margin-left: 7px;
  }
}
.sd__btn {
  display: flex;
  align-items: center;
  background: $body;
  border-radius: 10px;
  padding: 8px 10px 5px 10px;
  margin-bottom: 5px;
  transition: 0.2s;
  &:hover {
    .sd__favorite {
      svg {
        opacity: 1;
      }
    }
  }
  button {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.sd__btnClick {
  display: flex;
  align-items: center;
  transition: 0.2s;
  &:hover {
    transform: scale(1.03);
  }
  &:active {
    transform: scale(0.97);
  }
  button {
    font-size: 22px;
    text-transform: uppercase;
  }
}
.sd__favorite {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  svg {
    transition: 0.2s ease all;
    color: #dadada;
    cursor: pointer;
    opacity: 0;
    &:hover {
      transform: scale(1.2);
      color: $warning;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
.sd__favoriteActive {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  svg {
    color: $warning !important;
  }
}

.sd__createNewSpace {
  margin-top: 5px;
  button {
  }
  svg {
    color: $bodyGray;
    margin-right: 10px;
  }
}
