.status {
  cursor: pointer;
  .bll__content {
    margin-left: -15px;
  }
}

.status__name {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
  margin-bottom: 2px;
  padding: 3px 5px;
  border-radius: 8px;
  &:last-child {
    margin-bottom: 0;
  }
  svg {
    margin-right: 5px;
  }

  &:hover {
    background: rgb(235, 235, 235);
  }
}
